Can js-joda parse "UTC strings" out of the box?

It appears that there is an old date/time representation format, sometimes referred to as "UTC string". It was originally specified in [RFC 732 (HTTP/1.1 Semantics and Content)](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1). String in this format are returned by [`Date.prototype.toUTCString`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toUTCString). 

[ECMAScript standard](https://262.ecma-international.org/10.0/#sec-date.parse) does **not** require [`Date.parse`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse) to support this format.

> The function first attempts to parse the String according to the format described in Date Time String Format (20.3.1.15), including expanded years.

(Date Time String Format (20.3.1.15) means ISO 8601-like, e.g. 1995-02-05T00:00)

> If the String does not conform to that format the function may fall back to any implementation-specific heuristics or **implementation-specific date formats**.

It seems that, in practice, some popular JavaScript implementations decide to support "UTC string" as one of implementation-specific date formats. It kind of makes sense, as it mirrors `toUTCString`. I haven't found any documentation to support this, though. It can be verified empirically.

What is more, [MDN recommends](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse) to use third-party libraries to parse implementation-specific date formats like "UTC string":

> **It is not recommended to use Date.parse** as until ES5, parsing of strings was entirely implementation dependent. There are still **many differences in how different hosts parse date strings**, therefore date strings should be manually parsed (**a library can help** if many different formats are to be accommodated).

Strings in "UTC string" format are returned at least by [Node.js Firebase Admin Auth](https://firebase.google.com/docs/reference/admin/node/admin.auth.UserMetadata#creationtime), but probably many more.

Is there a simple way to parse "UTC strings" using js-joda? I've searched the API and the source code, without success.

Not out of the box, but you can define a parser for it. see code below. 
The advantage of defining patterns is, that parsing is very fast.

```
let df = DateTimeFormatter.ofPattern("EEE, dd MMM yyyy HH:mm:ss z").withLocale(Locale.ENGLISH);
let z = ZonedDateTime.parse('Tue, 05 Oct 2021 17:08:24 GMT', df)
z.toString(); // '2021-10-05T17:08:24+01:00[Europe/Jersey]'
```


@pithu It kind of does... But at the same time, it shows why it would be beneficial for the standard format like "UTC String" /  RFC 7321 to be included in the library itself.

Your hand-crafted solution has a bug, exactly like the one I've crafted myself...

> @pithu It kind of does... But at the same time, it shows why it would be beneficial for the standard format like "UTC String" / RFC 7321 to be included in the library itself.

There many, many time format patterns, with often mis-leading names and unclear spec. We have no plans to support any special patterns, beside the ones defined in threeten.

> Your hand-crafted solution has a bug, exactly like the one I've crafted myself...
Whats the bug ?


> There many, many time format patterns, with often mis-leading names and unclear spec. We have no plans to support any special patterns, beside the ones defined in threeten.

I won't disagree with the fact that there are many date/time string patterns in the wild! It's true. But at the same time, js-joda is a JavaScript library, not a Java one. It would still, in my opinion, be great to include the counterpart of the `toUTCString` (I've put all the arguments in the original message), even though it wouldn't be probably that useful in the Java ecosystem.

I'm personally a great fan of js-joda, as it solves the problem in the way that feels right for me. I'm sad that it's not as popular as Moment / Luxon. I believe that leaning more towards JS, less towards Java, could help a bit! Without sacrificing the fundamental ideas that Java's Joda got right, of course.

In the end, the decision will be yours, of course.

> Whats the bug ?

I was just editing the answer to include the code 😉

```typescript
const instant = ZonedDateTime.parse('Tue, 05 Oct 2021 17:08:24 GMT', formatter).toInstant();
instant.toString();
// Expected: "2021-10-05T17:08:24Z"
// Received: "2021-10-05T16:08:24Z"
```

It seems that `"GMT`" parsed as `z` gives "Europe/Jersey" timezone, as you've observed, which currently uses daylight saving time. For me **17**:08:24 GMT should always be **17**:08:24 [UTC].

I guess the correct format is `EEE, dd MMM yyyy HH:mm:ss 'GMT'`. Poor guys who would implement and deploy the former solution into production when DST is off in "Europe/Jersey"!

Ok, Looks like this is a bug, parsing GMT in a Locale context, we are open for a PR to fix this

> I won't disagree with the fact that there are many date/time string patterns in the wild! It's true. But at the same time, js-joda is a JavaScript library, not a Java one. It would still, in my opinion, be great to include the counterpart of the toUTCString (I've put all the arguments in the original message), even though it wouldn't be probably that useful in the Java ecosystem.

Not sure if i got your point right, i agree js-joda is a javascript library, we used to have plans to make js-joda more "javascriptish". But since the temporal proposal gets closer, we see the future of js-joda more as a one to one port of the threeten and java.time API.

And yes, the js-joda documentation is more then improvable, so it's hard to find, but the recommended way to convert from native js to js-joda is using the `convert` and `nativeJs` helper functions. eg. `const instant = Instant.from(nativeJs(new Date()))` and back like that `const nativeDate = convert(ZonedDateTime.from(nativeJs(new Date()))).toDate()`.

And actually i find the threeten pattern parsing quite powerful and extendable to any use-case (as long as you don't stumble over this terrible GMT convert bug, we just found). Yes, it could be much better documented, true! 

But IMO much better than to provide a bunch of special implemented custom made parser functions that we would have to attach to each Temporal. How would the API look like ? `parseRFC7231()` implemented for Instant, ZonedDateTime and OffsetTime. And if we would add it to the core package, we could not use the `DateTimeFormatter` because it needs the locale and the timezone package for that case. Would mean a special, extra "handmade" implementation juts for this format, that is at least as how i understand it, quit outdated.




I could narrow down the bug, its located here https://github.com/js-joda/js-joda/blob/e5facbcc8597f1343ee279916f83470980c5215f/packages/locale/src/format/cldr/CldrZoneTextPrinterParser.js#L161
The corresponding threeten code is here and it seems that there have been some fixes for that function over the time, that we did not ported. https://github.com/ThreeTen/threetenbp/blob/973f2b7120d2c173b0181bde39ce416d1e8edfe0/src/main/java/org/threeten/bp/format/DateTimeFormatterBuilder.java#L3385

@cubuspl42 just for curiosity. What is your special use case for parsing an http-date RFC7231 string ?

It's not really special, I use (the mentioned before) Node.js Firebase Admin Auth library for automated management of Firebase users. Why they chose this format, god knows.

> From my perspective the issue is closed (as it was stated as a question, which was answered). I see that you use it to track the "GMT bug", so I'll leave eventual closing to you.

Thanks @cubuspl42 for your input, i will leave the Issue open and use it for the bug.

I stumbled over the RFC_1123_DATE_TIME implemented in threeten. 

I managed to port it to @js-joda/locale as a  built-in formatter. it will be available in the next locale release. So @js-joda/locale is still required, but it will work with any locale (EN and non EN locales)

As mentioned above, its not recommended to use Date for parsing -> https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse.

And as its part of the threeten API, i guess its fine to have it, even if it seems to be a kind of  old fashion format.

@InExtremaRes

> This way you ensure compatibility with whatever algorithm Date is using.

That's exactly the problem, it's _unspecified_ what algorithm `Date` is using, beside that it must support a single specific ISO format. All implementations are free to choose any set of extra formats, maybe including "UTC String" (RFC 7321 / 1123...), maybe not.

So it boils down to whether you code for a standard (if possible!), or just for a set of implementations that you want to support. It's a broad (and a bit philosophical issue), but I'm personally on the "standard if possible" side.

> So, it seems that the provided implementation supports:
> 
> * A superset of RFC 7321 (as it supports a fixed-length single zone format)
> * A sane subset of RFC 5322, RFC 1123, RFC 822 (without the weird stuff, like military zones, I guess?)

I did not went through this specs, but yes probably its very close to this. 

It expects fixed-length format up to the timezone, but actually it would accept any timezone, that is defined in the @js-joda/timezone package, so not only things like GMT, UTC or EST, but even things like Europe/Berlin. To fix that, there is some more work to do in the locale print parser.