Parsing basic (w/o delimiters) ISO:8601?

Hello!

Thank you for this great library!

However, how do I parse basic (w/o delimiters) ISO:8601 string using it? I have a time string, which looks like this: `20170822T194135+00`. But js-joda is failing to parse it through `ZonedDateTime.parse()` for some reason.

What would be a correct way to parse it then?

As far as this is a correct ISO:8601 string, I was expecting js-joda to parse it normally.

Thank you!

Also, when I try to parse it using custom format:

`const time = ZonedDateTime.parse(timeString, DateTimeFormatter.ofPattern(`yyyyMMdd'T'HHmmssZ`));`

I'm getting error on column `15` (that's where the timezone is encountered). Why is that?

Hello @slavafomin 

js-joda uses predefined formater like specified here https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html

To parse the format in your example you have to define a special formatter pattern: 
```
const f = DateTimeFormatter.ofPattern("uuuuMMdd'T'HHmmssX")
ZonedDateTime.parse('20170430T194030+00', f).toString()
```
Hope that helps.

Thank you @pithu for the example, I'm using a quite similar approach right now. However, shouldn't the library be able to parse any valid ISO:8601 string out of the box without defining any "custom" formats? I think this is the purpose of standards in the first place to make data interchangeable and easy to parse.

I've checked that `moment.js` understands this format without any issues out of the box.

Well, we are quit strict in following the threeten implementation. And the threeten philosophy is to be strict and explicit. 

I have to agree with @slavafomin, being able to natively parse any ISO 8601 compliant string should be an expected feature in any time/date library. I came to the issues specifically to see if this had already been raised.

Well, most of the moment code is for parsing and formatting time. The ISO 8601 has quite a lot of options to format time data. Parsing all possible options would make parsing slower and lead to more code, just to handle some rare use case. That's one of the reasons why we have no plans to change it.

js-joda is parsing more or less [RFC 3339, section 5.6](https://www.ietf.org/rfc/rfc3339.txt) that is commonly used in a lot of libs, like for [json-schema-validation](http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3.1) et al.

Nevertheless we are open for pull request for full featured iso8601 parser in our [js-joda-extra](https://github.com/js-joda/js-joda-extra/) repository.